* {
  margin: 0;
  padding: 0;
}

body,
html {
  overflow-x: hidden;
}

section {
  position: relative;
  height: 50vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.one {
  border: 1px solid red;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 100px;
  text-align: center;
}

.two {
  border: 1px solid blue;
}

.two p {
  position: absolute;
  font-size: 100px;
  top: 35%;
  right: -100%;
  transition: all ease 1000ms;
  width: 100%;
  text-align: center;
  opacity: 0;
}

.active-two {
  right: 50% !important;
  transform: translateX(50%) !important;
  opacity: 1 !important;
}

.three {
  border: 1px solid green;
}

.three p {
  position: absolute;
  font-size: 100px;
  top: 100%;
  transition: all ease 1000ms;
  width: 100%;
  text-align: center;
  opacity: 0;
}

.active-three {
  top: 30% !important;
  opacity: 1 !important;
}

.four {
  border: 1px solid yellow;
}

.four p {
  position: absolute;
  margin-top: 25px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.four p span {
  display: inline-block;
  font-size: 100px;
  transition: all ease 1000ms;
  width: 100%;
  text-align: center;
  opacity: 0;
  transform: translateX(100vw);
  width: fit-content;
}

.five {
  border: 1px solid black;
}

.five p {
  margin: 50px auto;
  height: 100px;
  width: 356px;
  /* NEED A DEFINED WIDTH */
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: start;
  white-space: nowrap;
}

.five p span {
  display: inline-block;
  font-size: 0px;
  transition: all ease 1000ms;
  width: 100%;
  width: fit-content;
  /* CAN ALIGN TEXT WITH THIS*/
  /* vertical-align: */
}

.six {
  border: 1px solid black;
}

.six p {
  margin: 50px auto;
  height: 100px;
  width: 356px;
}

.six p span {
  display: inline-block;
  font-size: 100px;
  transition: all ease 1000ms;
  width: 100%;
  width: fit-content;
  color: transparent;
  text-shadow: 0px 0px 50px #000, 0px 0px 50px #000;
}

.seven {
  border: 1px solid black;
}

.seven p {
  margin: 50px auto;
  height: 100px;
  width: 100%;
  text-align: center;
}

.seven p span {
  display: inline-block;
  font-size: 100px;
  transition: all ease 1000ms;
  width: 100%;
  width: fit-content;
  transform: translateY(-200vh);
}

.eight {
  border: 1px solid green;
  justify-content: center;
  position: relative;
  font-size: 100px;
}

.eight img {
  position: absolute;
  z-index: -1;
  height: 50%;
  width: auto;
  animation-name: plants;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes plants {
  0% {
    transform: translate(10%, 10%);
  }
  25% {
    transform: translate(-10%, -10%);
  }
  50% {
    transform: translate(10%, -10%);
  }
  75% {
    transform: translate(-10%, 10%);
  }
  100% {
    transform: translate(10%, 10%);
  }
}

.glass {
  height: 90%;
  width: 75%;
  border: 1px solid #eee;
  border-radius: 20px;
  background-color: rgba(224, 224, 224, 0.25);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.nine {
  border: 1px solid gray;
  height: 1500px;
}

.nine p {
  width: 50%;
  min-width: 750px;
  margin: 0 auto;
  font-size: 50px;
  font-weight: bolder;
  color: #eee;
}

.nine p span {
  transition: color ease 500ms;
  line-height: 100px;
}

.span-active {
  color: #000;
}
.ten {
  padding: 50px;
  height: 500px;
  border: 1px solid blue;
  text-align: center;
}
.text-roll {
  font-size: 150px;
  font-weight: bolder;
  width: fit-content;
  margin: 0 auto;
  color: #111013;
  position: relative;
}

.line-mask {
  position: absolute;
  background-color: #fff;
  opacity: 0.85;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
}

.eleven {
  height: 200vh;
}
