* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Kormelink";
  src: url("./font/WT_Kormelink_Roman_DESK_1.1.ttf") format("truetype");
}

@font-face {
  font-family: "KormelinkItalic";
  src: url("font/WT_Kormelink_Italic_1.1.ttf") format("truetype");
}

body,
html {
  overflow-x: hidden;
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Montserrat", sans-serif;
}

section {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.title {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 100px;
  text-align: center;
}

/* --------------------- HORIZONTAL INTRO --------------------- */

.horizontal-intro {
  border: 1px solid #000;
}

.horizontal-intro p {
  position: absolute;
  font-size: 100px;
  top: 35%;
  right: -100%;
  transition: all ease 1000ms;
  width: 100%;
  text-align: center;
  opacity: 0;
}

.acitve-horizontal-intro {
  right: 50% !important;
  transform: translateX(50%) !important;
  opacity: 1 !important;
}

/* --------------------- VERTICAL INTRO --------------------- */

.vertical-intro {
  border: 1px solid #000;
}

.vertical-intro p {
  position: absolute;
  font-size: 100px;
  top: 100%;
  transition: all ease 1000ms;
  width: 100%;
  text-align: center;
  opacity: 0;
}

.active-vertical-intro {
  top: 30% !important;
  opacity: 1 !important;
}

/* --------------------- ONE AT A TIME INTRO --------------------- */

.one-at-a-time {
  border: 1px solid #000;
}

.one-at-a-time p {
  position: absolute;
  margin-top: 25px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.one-at-a-time p span {
  display: inline-block;
  font-size: 100px;
  transition: all ease 1000ms;
  width: 100%;
  text-align: center;
  transform: translateX(100vw);
  width: fit-content;
}

/* --------------------- WAVEY INTRO --------------------- */

.wave-text {
  border: 1px solid #000;
}

.wave-text p {
  margin: 50px auto;
  height: 100px;
  width: 100%;
  text-align: center;
}

.wave-text p span {
  display: inline-block;
  font-size: 100px;
  transition: all ease 1000ms;
  width: 100%;
  width: fit-content;
  transform: translateY(100vh);
}

/* --------------------- GROWING INTRO --------------------- */

.growing-text {
  border: 1px solid black;
}

.growing-text p {
  margin: 50px auto;
  height: 100px;
  width: 356px;
  /* NEED A DEFINED WIDTH */
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: start;
  white-space: nowrap;
}

.growing-text p span {
  display: inline-block;
  font-size: 0px;
  transition: all ease 1000ms;
  width: 100%;
  width: fit-content;
  /* CAN ALIGN TEXT WITH THIS*/
  /* vertical-align: */
}

/* --------------------- SMOKEY INTRO --------------------- */

.smokey-text {
  border: 1px solid black;
}

.smokey-text p {
  margin: 50px auto;
  height: 100px;
  width: 356px;
}

.smokey-text p span {
  display: inline-block;
  font-size: 100px;
  transition: all ease 1000ms;
  width: 100%;
  width: fit-content;
  color: transparent;
  text-shadow: 0px 0px 50px #000, 0px 0px 50px #000;
}

/* .eight {
  border: 1px solid green;
  justify-content: center;
  position: relative;
  font-size: 100px;
}

.eight img {
  position: absolute;
  z-index: -1;
  height: 50%;
  width: auto;
  animation-name: plants;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes plants {
  0% {
    transform: translate(10%, 10%);
  }
  25% {
    transform: translate(-10%, -100%);
  }
  50% {
    transform: translate(100%, -10%);
  }
  75% {
    transform: translate(-100%, 10%);
  }
  100% {
    transform: translate(10%, 10%);
  }
} 

.glass {
  height: 90%;
  width: 75%;
  border: 1px solid #eee;
  border-radius: 20px;
  background-color: rgba(224, 224, 224, 0.25);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
*/

/* --------------------- HIGHLIGHT PARAGRAPH --------------------- */

.hightlight-paragraph {
  border: 1px solid gray;
  height: fit-content;
}

.hightlight-paragraph p {
  width: 50%;
  min-width: 750px;
  margin: 0 auto;
  font-size: 40px;
  font-weight: bolder;
  color: #eee;
  padding: 25px 0px;
  line-height: 1.5;
}

.hightlight-paragraph p span {
  transition: color ease 500ms;
}

.highlight-active {
  color: #000;
}

.highlight-sentence {
  padding: 50px;
  height: 500px;
  border: 1px solid #000;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

/* --------------------- HIGHLIGHT SENTENCE --------------------- */

.text-roll {
  font-size: 100px;
  font-weight: bolder;
  width: fit-content;
  color: #111013;
  position: relative;
  white-space: nowrap;
}

.line-mask {
  position: absolute;
  background-color: #fff;
  opacity: 0.85;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  transition: width ease-out 250ms;
}

/* --------------------- WATERFALL INTRO --------------------- */

.waterfall {
  height: 50vh;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.waterfall-container {
  height: 140px;
  width: fit-content;
  margin: 0 auto;
  font-size: 150px;
  display: flex;
  overflow: hidden;
}

.fall-cont {
  position: relative;
  transform: translateY(-100%);
  height: fit-content;
  margin: 0 7.5px;
}

.fall-cont:nth-of-type(1) {
  transition: transform ease-in-out 2632ms;
  transition-delay: 700ms;
}
.fall-cont:nth-of-type(2) {
  transition: transform ease-in-out 2923ms;
  transition-delay: 720ms;
}
.fall-cont:nth-of-type(3) {
  transition: transform ease-in-out 2420ms;
}
.fall-cont:nth-of-type(4) {
  transition: transform ease-in-out 1500ms;
  transition-delay: 1000ms;
}
.fall-cont:nth-of-type(5) {
  transition: transform ease-in-out 3200ms;
}
.fall-cont:nth-of-type(6) {
  transition: transform ease-in-out 1150ms;
  transition-delay: 290ms;
}
.fall-cont:nth-of-type(7) {
  transition: transform ease-in-out 1623ms;
  transition-delay: 250ms;
}
.fall-cont:nth-of-type(8) {
  transition: transform ease-in-out 1500ms;
}
.fall-cont:nth-of-type(9) {
  transition: transform ease-in-out 2222ms;
  transition-delay: 222ms;
}

/* --------------------- SETTLE INTRO --------------------- */

.settle-text {
  height: 100vh;
  display: flex;
  align-items: center;
}

.settling-cont {
  width: fit-content;
  margin: 0 auto;
  border-bottom: 2.5px solid #000;
  height: 350px;
}

.settling-cont div {
  display: inline-block;
  font-size: 350px;
  transition: all linear 750ms;
}

/* --------------------- ZIPPER INTRO --------------------- */

.zip-container-section {
  height: 50vh;
  border: 1px solid #000;
  position: relative;
}

.zip-container {
  font-size: 150px;
  letter-spacing: -10px;
  border-bottom: 1px solid #000;
  position: sticky;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.zip-letter:nth-of-type(even) {
  transform: translate(100vw, -100vh);
}

.zip-letter:nth-of-type(odd) {
  transform: translate(100vw, 100vh);
}

.zip-container span {
  display: inline-block;
  transition: transform linear 200ms;
}

/* --------------------- FILL TEXT --------------------- */

.fill-text {
  height: 100vh;
  border: 1px solid #000;
}

.fill-wrapper {
  margin: 0 auto;
  width: 1000px;
  text-align: center;
}

.fill-wrapper p {
  font-size: 150px;
  /* -webkit-text-stroke: 1px #000;*/
  color: transparent !important;
  font-weight: bolder;
  background-image: url("img/svg.png");
  background-repeat: repeat-x;
  background-size: 80%;
  background-position: 0% -10%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* --------------------- COMING SOON TEXT --------------------- */

.coming-soon {
  border: 1px solid #000;
  position: relative;
  text-align: center;

  height: 100vh;
}

.coming-soon h2 {
  font-size: 17vw;
  will-change: transform;
  /* transform: translate3d(0px, 40vw, 0px) scale3d(3.2, 3.2, 1); */
  transform-style: preserve-3d;
  margin: 0 auto;
  transition: transform ease-out 250ms;
}

.coming-soon h2 span {
  display: block;
}

/* --------------------- INTO FOCUS --------------------- */

.together {
  border: 1px solid #000;
  position: relative;
}

.together p {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 150px;
  margin: 0 auto;
  white-space: nowrap;
  letter-spacing: 100px;
  transition: all ease 1000ms;
}

/* --------------------- INTO FOCUS --------------------- */

.focus p {
  font-size: 160px;
  margin: 0 auto;
  color: transparent;
  text-shadow: 0px 0px 25px #000;
  transition: transform linear 250ms;
  /* transform: scale(1.5); */
}
.focus p span {
  display: inline-block;
}

/* --------------------- SKEW SCROLL --------------------- */

.skew-scroll {
  height: fit-content;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.skew-scroll p {
  text-transform: uppercase;
  font-size: 100px;
  writing-mode: vertical-rl;
  margin: 0 auto;
}

.skew-box {
  height: 250px;
  width: 250px;
  border: 2px solid #000;
  background-color: #434343;
  margin: 25px 0;
}

.skew-scroll h2 {
  margin: 50px;
  font-size: 100px;
  transform-origin: left;
  transition: transform ease-out 150ms;
}

.gooey {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* filter: brightness(1.4) contrast(40) blur(18px); */
  overflow: hidden;
  padding: 20px;
}
/* .gooey h1 {
  font-weight: 350;
  font-size: 86px;
  transition: all ease 500ms;
  /* -webkit-filter: blur(10px); */
/*  THIS WILL ACTIVATE THE SPECIAL FONTS 
  font-feature-settings: "swsh";
}

.gooey h1:hover {
  font-weight: 350;
  font-family: "KormelinkItalic";
  /* -webkit-filter: blur(10px); */
/*  THIS WILL ACTIVATE THE SPECIAL FONTS 
  font-feature-settings: "swsh";
} */

.container-morph {
  list-style-type: none;
  width: 100vw;
  height: 100vh;
  position: relative;
  background: white;
  margin: 0 auto;
  display: grid;
  /* border: 1px solid blue; */
  grid-template-columns: 1;
  grid-template-rows: 1;
  transition: all ease 500ms;
  -webkit-filter: contrast(1);
  cursor: pointer;
}

.og,
.morph {
  grid-column: 1;
  grid-row: 1;
  align-self: center;
  justify-self: center;
  transition: all ease 500ms;
}

.og {
  filter: blur(0px);
}

.morph {
  filter: blur(20px);
  opacity: 0;
  font-weight: 350;
  transition: all ease 500ms;
  font-family: "KormelinkItalic";
  /*  THIS WILL ACTIVATE THE SPECIAL FONTS */
  font-feature-settings: "swsh";
}

.container-morph:hover {
  -webkit-filter: contrast(20);
}
.container-morph:hover .og {
  filter: blur(30px);
}

.container-morph:hover .morph {
  filter: blur(0px);
  opacity: 1;
}

/* START OF SOLID BOX ROTATING MENU ------------------------------------------- */

.menu-rotate {
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #000;
  padding-left: 50px;
}

.rotate-box-menu {
  height: 70px;
  width: 100%;
  position: relative;
  /* DIRECT CONTAINER OF ROTATING BOX NEEDS TP HACE BELOW*/
  font-size: 100px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(0deg);
  transform: rotate(0deg);
  transition: all ease-out 250ms;
  will-change: transform;
  margin-bottom: 40px;
  cursor: pointer;
}

.top-box-menu {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  /*FONT SIZE IS BEING ALTERED BY DEFAULT H1 AND THEN BUMPED TO 150PX BY #BIGGER ID*/
  font-size: 150px !important;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateX(90deg) translateZ(35px);
  transform: rotateX(90deg) translateZ(35px);
  font-weight: 350;
  font-family: "KormelinkItalic" !important;
  font-feature-settings: "swsh" !important;
  color: #9d9fa2;
  display: flex;
  align-items: center;
  justify-content: start;
  opacity: 0;
  transition: all ease-out 250ms;
  backface-visibility: hidden;
}

.bottom-box-menu {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  /*FONT SIZE IS BEING ALTERED BY DEFAULT H1 AND THEN BUMPED TO 150PX BY #BIGGER ID*/
  font-size: 150px !important;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateX-(90deg) translateZ(35px);
  transform: rotateX(-90deg) translateZ(35px);
  font-weight: 350;
  font-family: "KormelinkItalic" !important;
  font-feature-settings: "swsh" !important;
  color: #9d9fa2;
  display: flex;
  align-items: center;
  justify-content: start;
  opacity: 0;
  transition: all ease-out 250ms;
  backface-visibility: hidden;
}

.side-box-menu {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  font-size: 150px;
  width: fit-content;
  height: 100%;
  -webkit-transform: rotateX(0deg) translateZ(100px);
  transform: rotateX(0deg) translateZ(55px);
  font-family: "Montserrat", sans-serif;
  color: #9d9fa2;
  display: flex;
  align-items: center;
  justify-content: start;
  opacity: 1;
  transition: all ease-out 250ms;
  backface-visibility: hidden;
}

.side-rotate-menu,
.top-rotate-menu {
  text-transform: uppercase;
}

/*PLACE HOLDER TO OVERRIDE H1 DEFAULT SIZE*/
#bigger {
  font-size: 125px;
}

/* THIS IS THE HOVER ROTATE FOR ALL BOX ROTATION MENU SECTIONS */
.top-enter-menu:hover,
.rotate-text:hover .rotate-box {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(-90deg);
}

.bottom-enter-menu:hover {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(90deg);
}

.top-enter-menu:hover .top-box-menu {
  opacity: 1;
}

.bottom-enter-menu:hover .bottom-box-menu {
  opacity: 1;
}

.top-enter-menu:hover .side-box-menu,
.bottom-enter-menu:hover .side-box-menu {
  opacity: 0;
}

/* START OF FLUID BOX ROTATING MENU ------------------------------------------- */

.rotate-text-section {
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #000;
  padding-left: 50px;
}
.rotate-fluid-container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.rotate-box {
  height: 70px;
  width: 100%;
  position: relative;
  /* DIRECT CONTAINER OF ROTATING BOX NEEDS TP HACE BELOW*/
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(0deg);
  transform: rotate(0deg);
  transition: all ease-out 250ms;
  will-change: transform;
  margin-bottom: 40px;
  cursor: pointer;
}

.top {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  /*FONT SIZE IS BEING ALTERED BY DEFAULT H1 AND THEN BUMPED TO 150PX BY #BIGGER ID*/
  font-size: 100px !important;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateX(90deg) translateZ(35px);
  transform: rotateX(90deg) translateZ(35px);
  font-weight: 350;
  font-family: "KormelinkItalic" !important;
  font-feature-settings: "swsh" !important;
  color: #9d9fa2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  backface-visibility: hidden;
}

.side {
  backface-visibility: hidden;
  text-transform: uppercase;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  font-size: 100px;
  width: fit-content;
  height: 100%;
  -webkit-transform: rotateX(0deg) translateZ(100px);
  transform: rotateX(0deg) translateZ(55px);
  font-family: "Montserrat", sans-serif;
  color: #9d9fa2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom {
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  /*FONT SIZE IS BEING ALTERED BY DEFAULT H1 AND THEN BUMPED TO 150PX BY #BIGGER ID*/
  font-size: 100px !important;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateX-(90deg) translateZ(-25px);
  transform: rotateX(-90deg) translateZ(-25px);
  font-weight: 350;
  font-family: "KormelinkItalic" !important;
  font-feature-settings: "swsh" !important;
  color: #9d9fa2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  backface-visibility: hidden;
}

.top-fluid-enter-menu:hover .rotate-box {
  transform: rotateX(-90deg);
}
.bottom-fluid-enter-menu:hover .rotate-box {
  transform: rotateX(90deg);
}

/* -------------------------------BUTTONS ------------------------------------- */
.button-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: #f3f4ef;
}

.btn-default {
  border: 2px solid #9d9fa2;
  color: #9d9fa2;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 7.5px 20px;
  border-radius: 70px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: translate ease 250ms;
}

.btn-w-holographic::after {
  position: absolute;
  content: "";
  border-radius: 50%;
  clip-path: circle(0%);
  width: 500px;
  height: 500px;
  background-image: url("holographic.jpeg");
  background-size: contain;
  top: var(--btnFillTop, "0px");
  left: var(--btnFillLeft, "0px");
  transform: translate(-50%, -50%);
  transition: none;
  z-index: -2;
}

.btn-w-holographic:hover {
  color: #fff;
  text-shadow: 0px 0px 1px #434343;
}

.btn-w-holographic:hover::after {
  clip-path: circle(50%);
  transition: clip-path ease 500ms;
}

.btn-w-holographic-w-overlay::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #9d9fa2;
  transition: none;
  opacity: 0;
  z-index: -1;
}

.btn-w-holographic-w-overlay:hover:before {
  opacity: 0.5;
  transition: opacity ease 750ms;
  transition-delay: 250ms;
}

.btn-w-arrow {
  border: 2px solid #9d9fa2;
  color: #9d9fa2;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 5px 7.5px 5px 20px;
  border-radius: 70px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  background-color: transparent;
}

.btn-arrow {
  width: 25px;
  height: 25px;
  background-color: #9d9fa2;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  margin-left: 14px;
}

.btn-arrow:after {
  position: absolute;
  content: "";
  background-image: url("right-arrow.png");
  background-size: cover;
  width: 15px;
  height: 15px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: none;
}
.btn-arrow:before {
  position: absolute;
  content: "";
  background-image: url("right-arrow.png");
  background-size: cover;
  width: 15px;
  height: 15px;
  left: -50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all ease 250ms;
  transition: none;
}

.btn-w-arrow:hover {
  cursor: pointer;
  box-shadow: 2px 2px 1.5px rgba(67, 67, 67, 0.5);
  transform: translate(-0.5px, -0.5px);
  transition: all ease 500ms;
}
.btn-default:hover {
  cursor: pointer;
  box-shadow: 2px 2px 1.5px rgba(67, 67, 67, 0.25),
    inset 2px 2px 2.5px rgba(67, 67, 67, 0.5);
  transform: translate(-0.5px, -0.5px);
  transition: all ease 500ms;
}

.btn-w-arrow:hover .btn-arrow:after {
  transform: translate(100%, -50%);
  transition: transform ease 250ms;
}
.btn-w-arrow:hover .btn-arrow:before {
  transition: all ease 500ms;
  left: 50%;
}
