* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Kormelink";
  src: url("./font/WT_Kormelink_Roman_DESK_1.1.ttf") format("truetype");
}

@font-face {
  font-family: "KormelinkItalic";
  src: url("font/WT_Kormelink_Italic_1.1.ttf") format("truetype");
}

body,
html {
  overflow-x: hidden;
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Montserrat", sans-serif;
}

section {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.title {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9d9fa2;
}

h1 {
  font-size: 100px;
  text-align: center;
}

/* --------------------- HORIZONTAL INTRO --------------------- */

.horizontal-intro {
  border: 1px solid #000;
}

.horizontal-intro p {
  position: absolute;
  font-size: 100px;
  top: 35%;
  right: -100%;
  transition: all ease 1000ms;
  width: 100%;
  text-align: center;
  opacity: 0;
}

.acitve-horizontal-intro {
  right: 50% !important;
  transform: translateX(50%) !important;
  opacity: 1 !important;
}

/* --------------------- VERTICAL INTRO --------------------- */

.vertical-intro {
  border: 1px solid #000;
}

.vertical-intro p {
  position: absolute;
  font-size: 100px;
  top: 100%;
  transition: all ease 1000ms;
  width: 100%;
  text-align: center;
  opacity: 0;
}

.active-vertical-intro {
  top: 30% !important;
  opacity: 1 !important;
}

/* --------------------- ONE AT A TIME INTRO --------------------- */

.one-at-a-time {
  border: 1px solid #000;
}

.one-at-a-time p {
  position: absolute;
  margin-top: 25px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.one-at-a-time p span {
  display: inline-block;
  font-size: 100px;
  transition: all ease 1000ms;
  width: 100%;
  text-align: center;
  transform: translateX(100vw);
  width: fit-content;
}

/* --------------------- WAVEY INTRO --------------------- */

.wave-text {
  border: 1px solid #000;
}

.wave-text p {
  margin: 50px auto;
  height: 100px;
  width: 100%;
  text-align: center;
}

.wave-text p span {
  display: inline-block;
  font-size: 100px;
  transition: all ease 1000ms;
  width: 100%;
  width: fit-content;
  transform: translateY(100vh);
}

/* --------------------- GROWING INTRO --------------------- */

.growing-text {
  border: 1px solid black;
}

.growing-text p {
  margin: 50px auto;
  height: 100px;
  width: 356px;
  /* NEED A DEFINED WIDTH */
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: start;
  white-space: nowrap;
}

.growing-text p span {
  display: inline-block;
  font-size: 0px;
  transition: all ease 1000ms;
  width: 100%;
  width: fit-content;
  /* CAN ALIGN TEXT WITH THIS*/
  /* vertical-align: */
}

/* --------------------- SMOKEY INTRO --------------------- */

.smokey-text {
  border: 1px solid black;
  width: 100%;
}

.smokey-text p {
  margin: 50px auto;
  height: 100px;
  width: 356px;
  white-space: nowrap;
}

.smokey-text p span {
  display: inline-block;
  font-size: 100px;
  transition: all ease 1000ms;
  width: 100%;
  width: fit-content;
  color: transparent;
  text-shadow: 0px 0px 50px #000, 0px 0px 50px #000;
}

/* .eight {
  border: 1px solid green;
  justify-content: center;
  position: relative;
  font-size: 100px;
}

.eight img {
  position: absolute;
  z-index: -1;
  height: 50%;
  width: auto;
  animation-name: plants;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes plants {
  0% {
    transform: translate(10%, 10%);
  }
  25% {
    transform: translate(-10%, -100%);
  }
  50% {
    transform: translate(100%, -10%);
  }
  75% {
    transform: translate(-100%, 10%);
  }
  100% {
    transform: translate(10%, 10%);
  }
} 

.glass {
  height: 90%;
  width: 75%;
  border: 1px solid #eee;
  border-radius: 20px;
  background-color: rgba(224, 224, 224, 0.25);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
*/

/* --------------------- HIGHLIGHT PARAGRAPH --------------------- */

.hightlight-paragraph {
  border: 1px solid gray;
  height: fit-content;
}

.hightlight-paragraph p {
  width: 50%;
  min-width: 750px;
  margin: 0 auto;
  font-size: 40px;
  font-weight: bolder;
  color: #eee;
  padding: 25px 0px;
  line-height: 1.5;
}

.hightlight-paragraph p span {
  transition: color ease 500ms;
}

.highlight-active {
  color: #000;
}

.highlight-sentence {
  padding: 50px;
  height: 500px;
  border: 1px solid #000;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

/* --------------------- HIGHLIGHT SENTENCE --------------------- */

.text-roll {
  font-size: 100px;
  font-weight: bolder;
  width: fit-content;
  color: #111013;
  position: relative;
  white-space: nowrap;
}

.line-mask {
  position: absolute;
  background-color: #fff;
  opacity: 0.85;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  transition: width ease-out 250ms;
}

/* --------------------- WATERFALL INTRO --------------------- */

.waterfall {
  height: 50vh;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.waterfall-container {
  height: 140px;
  width: fit-content;
  margin: 0 auto;
  font-size: 150px;
  display: flex;
  overflow: hidden;
}

.fall-cont {
  position: relative;
  transform: translateY(-100%);
  height: fit-content;
  margin: 0 7.5px;
}

.fall-cont:nth-of-type(1) {
  transition: transform ease-in-out 2632ms;
  transition-delay: 700ms;
}
.fall-cont:nth-of-type(2) {
  transition: transform ease-in-out 2923ms;
  transition-delay: 720ms;
}
.fall-cont:nth-of-type(3) {
  transition: transform ease-in-out 2420ms;
}
.fall-cont:nth-of-type(4) {
  transition: transform ease-in-out 1500ms;
  transition-delay: 1000ms;
}
.fall-cont:nth-of-type(5) {
  transition: transform ease-in-out 3200ms;
}
.fall-cont:nth-of-type(6) {
  transition: transform ease-in-out 1150ms;
  transition-delay: 290ms;
}
.fall-cont:nth-of-type(7) {
  transition: transform ease-in-out 1623ms;
  transition-delay: 250ms;
}
.fall-cont:nth-of-type(8) {
  transition: transform ease-in-out 1500ms;
}
.fall-cont:nth-of-type(9) {
  transition: transform ease-in-out 2222ms;
  transition-delay: 222ms;
}

/* --------------------- SETTLE INTRO --------------------- */

.settle-text {
  height: 100vh;
  display: flex;
  align-items: center;
}

.settling-cont {
  width: fit-content;
  margin: 0 auto;
  border-bottom: 2.5px solid #000;
  height: 350px;
}

.settling-cont div {
  display: inline-block;
  font-size: 350px;
  transition: all linear 750ms;
}

/* --------------------- ZIPPER INTRO --------------------- */

.zip-container-section {
  height: 50vh;
  border: 1px solid #000;
  position: relative;
}

.zip-container {
  font-size: 150px;
  letter-spacing: -10px;
  border-bottom: 1px solid #000;
  position: sticky;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.zip-letter:nth-of-type(even) {
  transform: translate(100vw, -100vh);
}

.zip-letter:nth-of-type(odd) {
  transform: translate(100vw, 100vh);
}

.zip-container span {
  display: inline-block;
  transition: transform linear 200ms;
}

/* --------------------- FILL TEXT --------------------- */

.fill-text {
  height: 100vh;
  border: 1px solid #000;
}

.fill-wrapper {
  margin: 0 auto;
  width: 1000px;
  text-align: center;
}

.fill-wrapper p {
  font-size: 150px;
  /* -webkit-text-stroke: 1px #000;*/
  color: transparent !important;
  font-weight: bolder;
  background-image: url("img/svg.png");
  background-repeat: repeat-x;
  background-size: 80%;
  background-position: 0% -10%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* --------------------- COMING SOON TEXT --------------------- */

.coming-soon {
  border: 1px solid #000;
  position: relative;
  text-align: center;

  height: 100vh;
}

.coming-soon h2 {
  font-size: 17vw;
  will-change: transform;
  /* transform: translate3d(0px, 40vw, 0px) scale3d(3.2, 3.2, 1); */
  transform-style: preserve-3d;
  margin: 0 auto;
  transition: transform ease-out 250ms;
}

.coming-soon h2 span {
  display: block;
}

/* --------------------- INTO FOCUS --------------------- */

.together {
  border: 1px solid #000;
  position: relative;
}

.together p {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 150px;
  margin: 0 auto;
  white-space: nowrap;
  letter-spacing: 100px;
  transition: all ease 1000ms;
}

/* --------------------- INTO FOCUS --------------------- */

.focus p {
  font-size: 160px;
  margin: 0 auto;
  color: transparent;
  text-shadow: 0px 0px 25px #000;
  transition: transform linear 250ms;
  /* transform: scale(1.5); */
}
.focus p span {
  display: inline-block;
}

/* --------------------- SKEW SCROLL --------------------- */

.skew-scroll {
  height: fit-content;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.skew-scroll p {
  text-transform: uppercase;
  font-size: 100px;
  writing-mode: vertical-rl;
  margin: 0 auto;
}

.skew-box {
  height: 250px;
  width: 250px;
  border: 2px solid #000;
  background-color: #434343;
  margin: 25px 0;
}

.skew-scroll h2 {
  margin: 50px;
  font-size: 100px;
  transform-origin: left;
  transition: transform ease-out 150ms;
}
/* --------------------- GOOEY --------------------- */

.gooey {
  overflow: hidden;
  padding: 20px;
}

.container-morph {
  list-style-type: none;
  width: 100vw;
  height: 50vh;
  position: relative;
  background: white;
  margin: 0 auto;
  display: grid;
  /* border: 1px solid blue; */
  grid-template-columns: 1;
  grid-template-rows: 1;
  transition: all ease 500ms;
  -webkit-filter: contrast(1);
  filter: contrast(1);
  cursor: pointer;
}

.og,
.morph {
  grid-column: 1;
  grid-row: 1;
  align-self: center;
  justify-self: center;
  transition: all ease 500ms;
}

.og {
  filter: blur(0px);
  color: #000;
}

.morph {
  filter: blur(20px);
  /* opacity: 0; */
  font-weight: 350;
  transition: all ease 500ms;
  font-family: "KormelinkItalic";
  /*  THIS WILL ACTIVATE THE SPECIAL FONTS */
  font-feature-settings: "swsh";
  color: #000;
}

/* .container-morph:hover {
  -webkit-filter: contrast(20);
} */
.container-morph:hover .og {
  filter: blur(30px);
}

.container-morph:hover .morph {
  filter: blur(0px);
  /* opacity: 1; */
}

/* START OF SOLID BOX ROTATING MENU ------------------------------------------- */

.menu-rotate {
  height: fit-content;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #000;
  padding: 100px 50px;
}

.rotate-box-menu {
  height: 70px;
  padding: 20px;

  width: 100%;
  position: relative;
  /* DIRECT CONTAINER OF ROTATING BOX NEEDS TP HACE BELOW*/
  font-size: 100px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  transition: all ease-in-out 250ms;
  will-change: transform;
  margin-bottom: 40px;
  cursor: pointer;
  will-change: transform;
}

.top-box-menu {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  /*FONT SIZE IS BEING ALTERED BY DEFAULT H1 AND THEN BUMPED TO 150PX BY #BIGGER ID*/
  width: 100%;
  height: 100%;
  -webkit-transform: rotateX(90deg) translateZ(35px);
  transform: rotateX(90deg) translateZ(35px);
  font-family: "KormelinkItalic" !important;
  font-feature-settings: "swsh" !important;
  color: #9d9fa2;
  display: flex;
  align-items: center;
  justify-content: start;
  opacity: 0;
  transition: all ease-in-out 250ms;
  backface-visibility: hidden;
}

.bottom-box-menu {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  /*FONT SIZE IS BEING ALTERED BY DEFAULT H1 AND THEN BUMPED TO 150PX BY #BIGGER ID*/
  width: 100%;
  height: 100%;
  -webkit-transform: rotateX-(90deg) translateZ(35px);
  transform: rotateX(-90deg) translateZ(35px);
  font-family: "KormelinkItalic" !important;
  font-feature-settings: "swsh" !important;
  color: #9d9fa2;
  display: flex;
  align-items: center;
  justify-content: start;
  opacity: 0;
  transition: all ease-in-out 250ms;
  backface-visibility: hidden;
}

.side-box-menu {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  width: fit-content;
  height: 100%;
  -webkit-transform: rotateX(0deg) translateZ(100px);
  transform: rotateX(0deg) translateZ(55px);
  font-family: "Montserrat", sans-serif;
  color: #9d9fa2;
  display: flex;
  align-items: center;
  justify-content: start;
  opacity: 1;
  transition: all ease-in-out 250ms;
  backface-visibility: hidden;
}

.side-rotate-menu,
.top-rotate-menu {
  text-transform: uppercase;
}

/*PLACE HOLDER TO OVERRIDE H1 DEFAULT SIZE*/
#bigger {
  font-size: 125px;
  font-weight: 350 !important;
}

/* THIS IS THE HOVER ROTATE FOR ALL BOX ROTATION MENU SECTIONS */
.top-enter-menu:hover,
.rotate-text:hover .rotate-box {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(-90deg);
}

.bottom-enter-menu:hover {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(90deg);
}

.top-enter-menu:hover .top-box-menu {
  opacity: 1;
}

.bottom-enter-menu:hover .bottom-box-menu {
  opacity: 1;
}

.top-enter-menu:hover .side-box-menu,
.bottom-enter-menu:hover .side-box-menu {
  opacity: 0;
}

/* START OF FLUID BOX ROTATING MENU ------------------------------------------- */

.rotate-text-section {
  height: fit-content;
  padding: 100px 50px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #000;
}
.rotate-fluid-container {
  display: flex;
  cursor: pointer;
  height: fit-content;
  height: 75px;
  width: 70%;
  margin-bottom: 40px;
  /* border: 1px solid red; */
  padding: 20px;
}

.rotate-box {
  height: 75px;
  width: fit-content;
  position: relative;
  /* DIRECT CONTAINER OF ROTATING BOX NEEDS TP HACE BELOW*/
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  transition: all ease-out 250ms;
  will-change: transform;
  cursor: pointer;
  will-change: transform; /* border: 1px solid green; */
}

.top {
  position: absolute;
  /*FONT SIZE IS BEING ALTERED BY DEFAULT H1 AND THEN BUMPED TO 150PX BY #BIGGER ID*/
  font-size: 100px !important;
  /* border: 1px solid blue; */
  width: 100%;
  height: 100%;
  -webkit-transform: rotateX(90deg) translateZ(35px);
  transform: rotateX(90deg) translateZ(35px);
  font-weight: 350;
  font-family: "KormelinkItalic" !important;
  font-feature-settings: "swsh" !important;
  color: #9d9fa2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  backface-visibility: hidden;
}

.side {
  backface-visibility: hidden;
  text-transform: uppercase;
  font-size: 100px;
  width: fit-content;
  height: 100%;
  -webkit-transform: rotateX(0deg) translateZ(100px);
  transform: rotateX(0deg) translateZ(55px);
  font-family: "Montserrat", sans-serif;
  color: #9d9fa2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.bottom {
  backface-visibility: hidden;

  /*FONT SIZE IS BEING ALTERED BY DEFAULT H1 AND THEN BUMPED TO 150PX BY #BIGGER ID*/
  font-size: 100px !important;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateX-(90deg) translateZ(-25px);
  transform: rotateX(-90deg) translateZ(-35px);
  font-weight: 350;
  font-family: "KormelinkItalic" !important;
  font-feature-settings: "swsh" !important;
  color: #9d9fa2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  backface-visibility: hidden;
}

.top-fluid-enter-menu:hover .rotate-box {
  transform: rotateX(-90deg);
}
.bottom-fluid-enter-menu:hover .rotate-box {
  transform: rotateX(90deg);
}

/* ------------------------------- NAV SWIPE ------------------------------------- */

.swipe-nav {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 50px;
  height: fit-content;
}

.swipe-link {
  text-transform: uppercase;
  position: relative;
  font-size: 100px;

  /* color: #9d9fa2; */
  color: #fff;
  font-weight: 350;
  font-family: "KormelinkItalic" !important;
  font-feature-settings: "swsh" !important;
  padding: 20px;
  cursor: pointer;
  transition: all ease 500ms;
}

.swipe-link:after {
  position: absolute;
  content: attr(data-content);
  font-family: "Montserrat", sans-serif;
  color: #9d9fa2;
  background-color: #fff;
  font-weight: 700;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  transition: all ease 500ms;
  white-space: nowrap;
}

.swipe-link:hover {
  color: #9d9fa2;
}

.swipe-link:hover:after {
  width: 0%;
  color: #fff;
}

/* ------------------------------- NAV SWIPE LEFT ------------------------------------- */

.swipe-nav-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 50px;
  height: fit-content;
}

.swipe-link-left {
  text-transform: uppercase;
  position: relative;
  font-size: 100px;
  color: #9d9fa2;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  transition: all ease 500ms;
  padding: 20px;
  cursor: pointer;
  background-color: #fff;
  transition: all ease 500ms;
}

.swipe-link-left:before {
  position: absolute;
  content: attr(data-content);
  font-weight: 350;
  font-family: "KormelinkItalic" !important;
  font-feature-settings: "swsh" !important;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: #fff;
  color: #fff;
  transition: all ease 500ms;
  overflow: hidden;
  padding-top: 20px;
  padding-left: 20px;
}

.swipe-link-left:hover {
  color: #fff;
}
.swipe-link-left:hover:before {
  width: 120%;
  color: #9d9fa2;
  transition: all ease 500ms;
}
/* ------------------------------- NAV CLIP PATH ------------------------------------- */

.clip-path-nav {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 50px;
  height: fit-content;
  border: 1px solid #000;
}

.clip-path-link {
  text-transform: uppercase;
  position: relative;
  font-size: 100px;
  color: #9d9fa2;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  transition: all ease 500ms;
  padding: 20px;
  cursor: pointer;
  background-color: #fff;
  transition: all ease 500ms;
}

.clip-path-link:before {
  position: absolute;
  content: attr(data-content);
  font-weight: 350;
  font-family: "KormelinkItalic" !important;
  font-feature-settings: "swsh" !important;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #999;
  transition: all ease 500ms;
  overflow: hidden;
  padding-top: 20px;
  padding-left: 20px;
  clip-path: circle(0%);
}

.clip-path-link:hover {
  color: #fff;
}
.clip-path-link:hover:before {
  clip-path: circle(125%);
}
/* ------------------------------- NAV CLIP PATH -mid ------------------------------------- */

.clip-path-nav-mid {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 50px;
  height: fit-content;
  border: 1px solid #000;
}
.clip-mid {
  display: inline-block;
  position: relative;
}
.clip-path-link-mid .clip-mid span {
  text-transform: uppercase;
  font-size: 100px;
  cursor: pointer;
}

.clip-mid span:first-of-type {
  color: #9d9fa2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-weight: 350;
  font-family: "KormelinkItalic" !important;
  font-feature-settings: "swsh" !important;
  clip-path: circle(0%);
  filter: blur(5px);
  transition: all ease 250ms;
}

.clip-path-link-mid .clip-mid span:nth-of-type(2) {
  color: #9d9fa2;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  clip-path: circle(125%);
  filter: blur(0px);
  transition: all ease 250ms;
}

.clip-path-link-mid:hover .clip-mid span:first-of-type {
  clip-path: circle(125%);
  z-index: 2;
  filter: blur(0px);
  transition: all ease 500ms;
}

.clip-path-link-mid:hover .clip-mid span:nth-last-of-type(1) {
  clip-path: circle(0%);
  filter: blur(5px);
  color: #fff;
  transition: all ease 500ms;
}
/* ------------------------------- NAV CLIP PATH -mid -wave ------------------------------------- */

.clip-path-nav-mid-wave {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 50px;
  height: fit-content;
  border: 1px solid #000;
}
.clip-mid-wave {
  display: inline-block;
  position: relative;
}
.clip-path-link-mid-wave .clip-mid-wave span {
  text-transform: uppercase;
  font-size: 100px;
  cursor: pointer;
}

.clip-mid-wave span:first-of-type {
  color: #9d9fa2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-weight: 350;
  font-family: "KormelinkItalic" !important;
  font-feature-settings: "swsh" !important;
  clip-path: circle(0%);
  filter: blur(5px);
  transition: all ease 250ms;
}

.clip-path-link-mid-wave .clip-mid-wave span:nth-of-type(2) {
  color: #9d9fa2;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  clip-path: circle(125%);
  filter: blur(0px);
  transition: all ease 500ms;
}

.clip-path-link-mid-wave:hover .clip-mid-wave span:first-of-type {
  clip-path: circle(125%);
  z-index: 2;
  filter: blur(0px);
  transition: all ease 500ms;
}

.clip-path-link-mid-wave:hover .clip-mid-wave span:nth-last-of-type(1) {
  clip-path: circle(0%);
  filter: blur(5px);

  color: #fff;
  transition: all ease 500ms;
  z-index: -1;
}

/* -------------------------------BUTTONS ------------------------------------- */
.button-section {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.btn-default {
  border: 2px solid #9d9fa2;
  color: #9d9fa2;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 7.5px 20px;
  border-radius: 70px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: translate ease 250ms;
}

.btn-w-holographic::after {
  position: absolute;
  content: "";
  border-radius: 50%;
  clip-path: circle(0%);
  width: 500px;
  height: 500px;
  background-image: url("holographic.jpeg");
  background-size: contain;
  top: var(--btnFillTop, "0px");
  left: var(--btnFillLeft, "0px");
  transform: translate(-50%, -50%);
  transition: none;
  z-index: -2;
}

.btn-w-holographic:hover {
  color: #fff;
  text-shadow: 0px 0px 1px #434343;
}

.btn-w-holographic:hover::after {
  clip-path: circle(50%);
  transition: clip-path ease 500ms;
}

.btn-w-holographic-w-overlay::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #9d9fa2;
  transition: none;
  opacity: 0;
  z-index: -1;
}

.btn-w-holographic-w-overlay:hover:before {
  opacity: 0.5;
  transition: opacity ease 750ms;
  transition-delay: 250ms;
}

.btn-w-arrow {
  border: 2px solid #9d9fa2;
  color: #9d9fa2;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 5px 7.5px 5px 20px;
  border-radius: 70px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  background-color: transparent;
}

.btn-arrow {
  width: 25px;
  height: 25px;
  background-color: #9d9fa2;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  margin-left: 14px;
}

.btn-arrow:after {
  position: absolute;
  content: "";
  background-image: url("right-arrow.png");
  background-size: cover;
  width: 15px;
  height: 15px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: none;
}
.btn-arrow:before {
  position: absolute;
  content: "";
  background-image: url("right-arrow.png");
  background-size: cover;
  width: 15px;
  height: 15px;
  left: -50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all ease 250ms;
  transition: none;
}

.btn-w-arrow:hover {
  cursor: pointer;
  box-shadow: 2px 2px 1.5px rgba(67, 67, 67, 0.5);
  transform: translate(-0.5px, -0.5px);
  transition: all ease 250ms;
}
.btn-default:hover {
  cursor: pointer;
  box-shadow: 2px 2px 1.5px rgba(67, 67, 67, 0.25),
    inset 2px 2px 2.5px rgba(67, 67, 67, 0.5);
  transform: translate(-0.5px, -0.5px);
  transition: all ease 500ms;
}

.btn-w-arrow:hover .btn-arrow:after {
  transform: translate(100%, -50%);
  transition: transform ease 250ms;
}
.btn-w-arrow:hover .btn-arrow:before {
  transition: all ease 500ms;
  left: 50%;
}

/*--------- DRIP -----------------------*/

.drip-section {
  border: 1px solid #000;
  min-height: 900px;
  height: 100vh;
  width: 100vw;
  min-width: 1200px;

  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.drip-section img {
  position: absolute;
  z-index: 9;
}

.drip-container {
  width: fit-content;
  height: 500px;
  margin: 0 auto;
  position: relative;
  background-color: rgba(255, 255, 255, 1);
  -webkit-filter: contrast(5);
  filter: contrast(5);
}
.drip-container h1 {
  font-size: 250px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.drip-one {
  width: 0px;
  height: 0px;
  background-color: #000;
  position: absolute;
  border-radius: 50%;
  top: 200px;
  left: 25px;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  animation-name: dripOne;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-duration: 2500ms;
}

@keyframes dripOne {
  0% {
    top: 200px;
    width: 0px;
    height: 0px;
    background-color: #000;
  }
  10% {
    width: 40px;
    height: 50px;
    background-color: #000;
  }
  40% {
    width: 40px;
    height: 50px;
    background: linear-gradient(
        217deg,
        rgba(255, 0, 0, 0.8),
        rgba(255, 0, 0, 0) 70.71%
      ),
      linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
      linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  }
  50% {
    top: 225px;
    width: 40px;
    height: 50px;
    background: linear-gradient(
        217deg,
        rgba(255, 0, 0, 0.8),
        rgba(255, 0, 0, 0) 70.71%
      ),
      linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
      linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  }
  100% {
    top: 1000px;
    width: 40px;
    height: 50px;
    background: linear-gradient(
        217deg,
        rgba(255, 0, 0, 0.8),
        rgba(255, 0, 0, 0) 70.71%
      ),
      linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
      linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  }
}

.drip-two {
  width: 0px;
  height: 0px;
  background-color: #000;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 230px;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  animation-name: dripTwo;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-duration: 5000ms;
}
@keyframes dripTwo {
  0% {
    top: 50px;
    width: 0px;
    height: 0px;
    background: #000;
  }
  10% {
    width: 50px;
    height: 65px;
    background: #000;
  }

  40% {
    top: 225px;
    width: 50px;
    height: 65px;
    background: linear-gradient(
        217deg,
        rgba(255, 0, 0, 0.8),
        rgba(255, 0, 0, 0) 70.71%
      ),
      linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
      linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  }

  50% {
    top: 225px;
    width: 50px;
    height: 65px;
    background: linear-gradient(
        217deg,
        rgba(255, 0, 0, 0.8),
        rgba(255, 0, 0, 0) 70.71%
      ),
      linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
      linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  }
  100% {
    top: 1000px;
    width: 50px;
    height: 65px;
    background: linear-gradient(
        217deg,
        rgba(255, 0, 0, 0.8),
        rgba(255, 0, 0, 0) 70.71%
      ),
      linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
      linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  }
}
.drip-rgba {
  animation-name: dripThree;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 4200ms;
  animation-fill-mode: forwards;
}
.drip-three {
  width: 55px;
  height: 55px;
  background-color: #000;
  position: absolute;
  border-radius: 50%;
  top: 5px;
  left: 404px;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}
@keyframes dripThree {
  0% {
    top: 5px;
  }
  15% {
    top: 20px;
    width: 55px;
    height: 60px;
    background: #000;
  }
  20% {
    top: 25px;
    width: 55px;
    height: 60px;
    background: #000;
  }
  50% {
    top: 210px;
    width: 55px;
    height: 65px;
    background: linear-gradient(
        217deg,
        rgba(255, 0, 0, 0.8),
        rgba(255, 0, 0, 0) 70.71%
      ),
      linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
      linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  }
  60% {
    top: 215px;
    width: 55px;
    height: 65px;
    background: linear-gradient(
        217deg,
        rgba(255, 0, 0, 0.8),
        rgba(255, 0, 0, 0) 70.71%
      ),
      linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
      linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  }

  100% {
    top: 1000px;
    width: 55px;
    height: 65px;
    background: linear-gradient(
        217deg,
        rgba(255, 0, 0, 0.8),
        rgba(255, 0, 0, 0) 70.71%
      ),
      linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
      linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  }
}
.drip-four {
  width: 0px;
  height: 0px;
  background-color: #000;
  position: absolute;
  border-radius: 50%;
  top: 100px;
  left: 605px;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  animation-name: dripFour;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-duration: 2500ms;
  animation-delay: 250ms;
}
@keyframes dripFour {
  0% {
    top: 105px;
    width: 0px;
    height: 0px;
  }
  25% {
    top: 150px;
    width: 40px;
    height: 55px;
  }
  50% {
    top: 160px;
    width: 40px;
    height: 55px;
    background: linear-gradient(
        217deg,
        rgba(255, 0, 0, 0.8),
        rgba(255, 0, 0, 0) 70.71%
      ),
      linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
      linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  }
  100% {
    top: 1000px;
    width: 40px;
    height: 55px;
    background: linear-gradient(
        217deg,
        rgba(255, 0, 0, 0.8),
        rgba(255, 0, 0, 0) 70.71%
      ),
      linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
      linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  }
}

/* ----- BLACK DRIP ONLY */

.drip-container-black {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  position: relative;
}
.drip-container-black h1 {
  font-size: 250px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.drip-one-black {
  width: 0px;
  height: 0px;
  background-color: #000;
  position: absolute;
  border-radius: 50%;
  top: 200px;
  left: 25px;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  animation-name: dripOneB;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-duration: 2500ms;
}

@keyframes dripOneB {
  0% {
    top: 200px;
    width: 0px;
    height: 0px;
  }
  10% {
    width: 40px;
    height: 50px;
  }
  40% {
    width: 40px;
    height: 50px;
  }
  50% {
    top: 225px;
    width: 40px;
    height: 50px;
  }
  100% {
    top: 1000px;
    width: 40px;
    height: 50px;
  }
}

.drip-two-black {
  width: 0px;
  height: 0px;
  background-color: #000;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 225px;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  animation-name: dripTwoB;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-duration: 5000ms;
}
@keyframes dripTwoB {
  0% {
    top: 65px;
    width: 0px;
    height: 0px;
  }
  15% {
    width: 50px;
    height: 60px;
  }
  50% {
    top: 225px;
    width: 50px;
    height: 60px;
  }
  100% {
    top: 1000px;
    width: 50px;
    height: 60px;
  }
}
.drip-black {
  animation-name: dripThreeB;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 4200ms;
  animation-fill-mode: forwards;
}
.drip-three-black {
  width: 55px;
  height: 55px;
  background-color: #000;
  position: absolute;
  border-radius: 50%;
  top: -7px;
  left: 404px;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}
@keyframes dripThreeB {
  0% {
    top: -7px;
  }
  10% {
    top: 20px;
    width: 55px;
    height: 60px;
  }
  20% {
    top: 25px;
    width: 55px;
    height: 60px;
  }
  55% {
    top: 225px;
    width: 55px;
    height: 65px;
  }
  85% {
    top: 225px;
    width: 55px;
    height: 65px;
  }
  100% {
    top: 1000px;
    width: 55px;
    height: 65px;
  }
}
.drip-four-black {
  width: 0px;
  height: 0px;
  background-color: #000;
  position: absolute;
  border-radius: 50%;
  top: 100px;
  left: 605px;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  animation-name: dripFourB;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-duration: 2500ms;
  animation-delay: 250ms;
}
@keyframes dripFourB {
  0% {
    top: 105px;
    width: 0px;
    height: 0px;
  }
  25% {
    top: 150px;
    width: 40px;
    height: 55px;
  }
  50% {
    top: 160px;
    width: 40px;
    height: 55px;
  }
  100% {
    top: 1000px;
    width: 40px;
    height: 55px;
  }
}
/*  DROPLETS ----------------------------------*/

.water-droplets {
  border: 1px solid blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drops {
  position: relative;
}

.drop-one {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 0;
  left: 50%;
  border-radius: 54% 46% 43% 57% / 37% 41% 59% 63%;
  box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.5),
    inset 15px 15px 15px rgba(0, 0, 0, 0.25), 7px 7.5px 10px rgba(0, 0, 0, 0.5),
    50px 10px 20px rgba(0, 0, 0, 0.05),
    inset -10px -10px 15px rgba(255, 255, 255, 1);
  backdrop-filter: blur(2.5px);
  transition: all ease 500ms;
  z-index: 2;
}

.drop-one::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 54% 46% 43% 57% / 37% 41% 59% 63%;
  filter: blur(2px);
  top: 20px;
  left: 30px;
}
.drop-one::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 45px;
  background-color: rgba(255, 255, 255, 1);
  /* border: 1px solid red; */
  border-radius: 84% 56% 83% 37% / 77% 51% 79% 63%;
  filter: blur(2px);
  bottom: -5px;
  z-index: 11;
  bottom: 5px;
  right: 12px;
  /* border: 1px solid red; */
}

.drop-one:hover {
  transform: translate(-5px, 5px);

  border-radius: 67% 43% 40% 63% / 45% 52% 48% 55%;
}
.drop-two {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 0;
  left: 10%;
  border-radius: 26% 74% 81% 49% / 37% 58% 42% 63%;
  box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.1),
    15px 25px 10px rgba(0, 0, 0, 0.1), 15px 20px 20px rgba(0, 0, 0, 0.05),
    inset -10px -10px 15px rgba(255, 255, 255, 1);
  backdrop-filter: blur(5px);
  transition: all ease 500ms;
}

.drop-two:hover {
  transform: translate(5px, -5px);
  border-radius: 37% 63% 44% 56% / 48% 58% 42% 52%;
}

/* ----- TEXT ------------------------------------------------ */
.holo-text {
  min-height: fit-content;
  height: 170rem;
  margin-bottom: 500px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
#holographic {
  /* background-color: #74ebd5; */
  background-size: 200%;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 40rem;
  font-size: 7rem;
  padding: 0rem;
}
.card__text {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: url("./holographic.jpeg");
  background-size: cover;
}

.mask {
  display: block;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.4);
  line-height: 1;
  padding: 0px 50px 50px 50px;
  text-align: center;
  font-family: "KormelinkItalic";
  font-feature-settings: "swsh";
  font-weight: 350;
}

.mask-light {
  display: block;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.75);
  line-height: 1;
  padding: 0px 50px 50px 50px;
  text-align: center;
  font-family: "KormelinkItalic";
  font-feature-settings: "swsh";
  font-weight: 350;
}
.mask-dark {
  display: block;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1),
    0px 2px 3px rgba(255, 255, 255, 0.4);
  line-height: 1;
  padding: 0px 50px 50px 50px;
  text-align: center;
  font-family: "KormelinkItalic";
  font-feature-settings: "swsh";
  font-weight: 350;
}
.mask-light-hover {
  display: block;
  text-shadow: 0px 0px 0px rgba(157, 159, 162, 1);
  line-height: 1;
  padding: 0px 50px 50px 50px;
  text-align: center;
  font-family: "KormelinkItalic";
  font-feature-settings: "swsh";
  font-weight: 350;
  transition: all ease 500ms;
}
.mask-dark-hover {
  display: block;
  text-shadow: 0px 0px 0px rgba(157, 159, 162, 1);
  line-height: 1;
  padding: 0px 50px 50px 50px;
  text-align: center;
  font-family: "KormelinkItalic";
  font-feature-settings: "swsh";
  font-weight: 350;
  transition: all ease 500ms;
}
.mask-hover {
  display: block;
  text-shadow: 0px 0px 0px rgba(157, 159, 162, 1)
    /* 0px 2px 3px rgba(255, 255, 255, 0.4); */;
  line-height: 1;
  padding: 0px 50px 50px 50px;
  text-align: center;
  font-family: "KormelinkItalic";
  font-feature-settings: "swsh";
  font-weight: 350;
  transition: all ease 500ms;
}

.mask-hover:hover {
  display: block;
  padding: 0px 50px 50px 50px;
  text-shadow: 0px 2px 3px rgba(157, 159, 162, 0),
    0px 2px 3px rgba(255, 255, 255, 0.4);
}
.mask-light-hover:hover {
  display: block;
  padding: 0px 50px 50px 50px;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.75);
}
.mask-dark-hover:hover {
  display: block;
  padding: 0px 50px 50px 50px;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1),
    0px 2px 3px rgba(255, 255, 255, 0.4);
}

hr {
  margin-bottom: 100px;
  width: 90vw;
}

/* HAMBURGS -------------------------------------- */

.hamburger-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.hamburger_text {
  font-weight: 700;
  font-size: 16px;
  color: #9d9fa2;
}
/* -------------------*/
.nav_toggle-btn-clip {
  height: 25px;
  width: 140px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hamburger_container-clip {
  position: relative;
  width: 80px;
  max-width: 80px;
  height: 100%;
}

.hamburger-clip {
  background-color: #9d9fa2;
  height: 2.5px;
  width: 33.333%;
  transition: all ease-out 150ms;
}

.hamburger_one-clip {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition-delay: 225ms;
}

.hamburger_two-clip {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 33.333%;
}

.hamburger_three-clip {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  left: 66.333%;
  transition-delay: 75ms;
}

.nav_btn-text-clip {
  text-transform: uppercase;
  position: relative;
  color: #fff;
  font-weight: 350;
  transform: translateX(-2.5px);
  font-family: "KormelinkItalic" !important;
  font-feature-settings: "swsh" !important;
  cursor: pointer;
  transition: all ease 750ms;
  padding-top: 2.5px;
}

.nav_btn-text-clip:after {
  position: absolute;
  content: attr(data-content);
  font-family: "Montserrat", sans-serif;
  color: #9d9fa2;
  background-color: #fff;
  /* border: 1px solid red; */
  font-weight: 700;
  right: 0px;
  /* border: 1px solid red; */
  direction: rtl;
  top: 50%;
  width: 100%;
  /* border: 1px solid blue; */
  text-align: right;
  transform: translateY(-50%);
  overflow: hidden;
  transition: opacity ease 500ms;
  opacity: 1;
}

.nav_toggle-btn-clip:hover .nav_btn-text-clip {
  color: #9d9fa2;
}

.nav_toggle-btn-clip:hover .nav_btn-text-clip:after {
  width: 0%;
  color: #fff;
  opacity: 0;
  transition: all ease 750ms;
}
/*----------------------------*/
.clip-path-nav-mid-nav {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 50px;
  height: fit-content;
  border: 1px solid #000;
}
.clip-mid-nav {
  display: inline-block;
  position: relative;
}
.clip-path-link-mid-nav .clip-mid-nav span {
  text-transform: uppercase;
  cursor: pointer;
}

.clip-mid-nav span:first-of-type {
  color: #9d9fa2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-weight: 350;
  font-family: "KormelinkItalic" !important;
  font-feature-settings: "swsh" !important;
  clip-path: circle(0%);
  filter: blur(10px);
  transition: all ease 500ms;
}

.nav_toggle-btn-clip .clip-mid-nav span:last-of-type {
  color: #9d9fa2;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  clip-path: circle(125%);
  filter: blur(0px);
  transition: all ease 250ms;
  transition-delay: 500ms;
}

.nav_toggle-btn-clip:hover .clip-mid-nav span:first-of-type {
  clip-path: circle(125%);
  filter: blur(0px);
  transition: all ease 500ms;
}

.nav_toggle-btn-clip:hover .clip-mid-nav span:last-of-type {
  clip-path: circle(0%);
  filter: blur(0px);
  transition: all ease 250ms;
}
/*----------------------------*/
.nav_toggle-btn-smoosh {
  display: flex;
  justify-content: center;
  height: fit-content;
  cursor: pointer;
}

.nav_text-smoosh {
  color: #9d9fa2;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-right: 5px;
}

.nav_text-smoosh span {
  display: inline-block;
  float: left;
  transition: all ease 500ms;
}

.hamburger_container-smoosh {
  position: relative;
  width: 80px;
  max-width: 80px;
  height: 100%;
}

.hamburger-smoosh {
  background-color: #9d9fa2;
  height: 2.5px;
  width: 33.333%;
  transition: all ease-out 150ms;
}

.hamburger_one-smoosh {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition-delay: 50ms;
}

.hamburger_two-smoosh {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 33.333%;
}

.hamburger_three-smoosh {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  left: 66.333%;
}

.nav_toggle-btn-smoosh:hover .hamburger_one-smoosh {
  left: 10px;
  transition-delay: 250ms;
}
.nav_toggle-btn-smoosh:hover span {
  transform: translateX(10px);
}

/* -------------------*/
.nav_toggle-btn-sidestack {
  height: 25px;
  width: 140px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav_toggle-btn-sidestack:hover .hamburger_one-sidestack {
  top: 10%;
  transform: translateY(-10%);
  left: 0%;
  border-radius: 10px;
  transition-delay: 75ms;
}

.nav_toggle-btn-sidestack:hover .hamburger_two-sidestack {
  top: 50%;
  transform: translateY(-50%);
  left: 33.333%;
  border-radius: 10px;
}

.nav_toggle-btn-sidestack:hover .hamburger_three-sidestack {
  top: 90%;
  transform: translateY(-90%);
  left: 66.333%;
  border-radius: 10px;
  transition-delay: 225ms;
}
.hamburger-sidestack {
  background-color: #9d9fa2;
  height: 2.5px;
  width: 33.333%;
  transition: all ease-out 150ms;
}

.hamburger_container-sidestack {
  position: relative;
  width: 80px;
  height: 100%;
}
.hamburger_one-sidestack {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition-delay: 225ms;
}

.hamburger_two-sidestack {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 33.333%;
}

.hamburger_three-sidestack {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  left: 66.333%;
  transition-delay: 75ms;
}
/* STACK */
.nav_toggle-btn-stack {
  height: 25px;
  width: 140px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hamburger-stack {
  background-color: #9d9fa2;
  height: 2.5px;
  border-radius: 10px;
  transition: all ease-out 150ms;
}

.hamburger_container-stack {
  position: relative;
  width: 80px;
  height: 100%;
}

.hamburger_one-stack {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.hamburger_two-stack {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.hamburger_three-stack {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.nav_toggle-btn-stack:hover .hamburger_one-stack {
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  width: 50%;
}
.nav_toggle-btn-stack:hover .hamburger_two-stack {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}
.nav_toggle-btn-stack:hover .hamburger_three-stack {
  top: 90%;
  left: 50%;
  transform: translate(-50%, -90%);
  width: 50%;
}
/* STACK */
.nav_toggle-btn-stack-diamond {
  height: 25px;
  width: 140px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hamburger-stack-diamond {
  background-color: #9d9fa2;
  height: 2.5px;
  border-radius: 10px;
  transition: all ease-out 150ms;
}

.hamburger_container-stack-diamond {
  position: relative;
  width: 80px;
  height: 100%;
}

.hamburger_one-stack-diamond {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.hamburger_two-stack-diamond {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.hamburger_three-stack-diamond {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.nav_toggle-btn-stack-diamond:hover .hamburger_one-stack-diamond {
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  width: 25%;
}
.nav_toggle-btn-stack-diamond:hover .hamburger_two-stack-diamond {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}
.nav_toggle-btn-stack-diamond:hover .hamburger_three-stack-diamond {
  top: 90%;
  left: 50%;
  transform: translate(-50%, -90%);
  width: 25%;
}
/* STACK */
.nav_toggle-btn-rotate {
  height: 25px;
  width: 140px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hamburger-rotate {
  background-color: #9d9fa2;
  height: 2.5px;
  border-radius: 10px;
  transition: all ease-out 150ms;
}

.hamburger_container-rotate {
  position: relative;
  width: 80px;
  height: 100%;
}

.hamburger_one-rotate {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.hamburger_two-rotate {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.hamburger_three-rotate {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

/* ------------------------------*/
.rotate-fluid-container-ham {
  display: flex;
  cursor: pointer;
  height: fit-content;
  overflow: hidden;
}

.rotate-box-ham {
  height: fit-content;
  position: relative;

  /* DIRECT CONTAINER OF ROTATING BOX NEEDS TP HACE BELOW*/
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  transition: all ease-out 250ms;
  will-change: transform;
  will-change: transform; /* border: 1px solid green; */
}

.top-ham {
  position: absolute;
  /*FONT SIZE IS BEING ALTERED BY DEFAULT H1 AND THEN BUMPED TO 150PX BY #BIGGER ID*/
  -webkit-transform: rotateX(90deg) translateZ(6px);
  transform: rotateX(90deg) translateZ(6px);
  color: #9d9fa2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  backface-visibility: hidden;
  font-size: 16px;
}

.side-ham {
  backface-visibility: hidden;
  text-transform: uppercase;
  -webkit-transform: rotateX(0deg) translateZ(10px);
  transform: rotateX(0deg) translateZ(10px);
  font-family: "Montserrat", sans-serif;
  color: #9d9fa2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
}

.bottom-ham {
  backface-visibility: hidden;
  position: absolute;
  -webkit-transform: rotateX-(90deg) translateZ(-25px);
  transform: rotateX(-90deg) translateZ(-35px);
  color: #9d9fa2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  backface-visibility: hidden;
  font-size: 16px;
}

/* .nav_toggle-btn-rotate:hover .rotate-box-ham {
  transform: rotateX(-90deg);
}*/
.nav_toggle-btn-rotate:hover .rotate-box-ham {
  transform: rotateX(-90deg);
}

/* STACK */
.nav_toggle-btn-arrow {
  height: 25px;
  width: 140px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hamburger-arrow {
  background-color: #9d9fa2;
  height: 2.5px;
  border-radius: 10px;
  transition: all ease-out 150ms;
}

.hamburger_container-arrow {
  position: relative;
  width: 80px;
  height: 100%;
}

.hamburger_one-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.hamburger_two-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.hamburger_three-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.nav_toggle-btn-arrow:hover .hamburger_one-arrow {
  top: 96%;
  left: 42%;
  transform: translate(-50%, -10%) rotate(45deg);
  width: 25%;
}
.nav_toggle-btn-arrow:hover .hamburger_two-arrow {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  width: 50%;
  height: 3px;
}
.nav_toggle-btn-arrow:hover .hamburger_three-arrow {
  top: 104%;
  left: 58%;
  transform: translate(-50%, -90%) rotate(-45deg);
  width: 25%;
}
/* PYRAMID */
.nav_toggle-btn-pyramid {
  height: 25px;
  width: 140px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hamburger-pyramid {
  background-color: #9d9fa2;
  height: 2.5px;
  border-radius: 10px;
  transition: all ease-out 150ms;
}

.hamburger_container-pyramid {
  position: relative;
  width: 80px;
  height: 100%;
}

.hamburger_one-pyramid-top {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.hamburger_two-pyramid-top {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.hamburger_three-pyramid-top {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.nav_toggle-btn-pyramid:hover .hamburger_one-pyramid-top {
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  width: 25%;
}
.nav_toggle-btn-pyramid:hover .hamburger_two-pyramid-top {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}
.nav_toggle-btn-pyramid:hover .hamburger_three-pyramid-top {
  top: 90%;
  left: 50%;
  transform: translate(-50%, -90%);
  width: 75%;
}
.hamburger_one-pyramid-bot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.hamburger_two-pyramid-bot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.hamburger_three-pyramid-bot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.nav_toggle-btn-pyramid:hover .hamburger_one-pyramid-bot {
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  width: 75%;
}
.nav_toggle-btn-pyramid:hover .hamburger_two-pyramid-bot {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}
.nav_toggle-btn-pyramid:hover .hamburger_three-pyramid-bot {
  top: 90%;
  left: 50%;
  transform: translate(-50%, -90%);
  width: 25%;
}

/* DRAG AND DROP -------------------------------------- */

.drag-drop {
  border: 1px solid red;
  height: 100vh;
  width: 100%;
  position: relative;
}

.drag-drop p {
  width: 100%;
  font-size: 50px;
}

.drag {
  width: 500px;
  height: 750px;
  border-radius: 50px;
  position: absolute;
  cursor: move;
}

.drag-two {
  background-image: url("./img/drag-two.png");
  left: 40%;
  background-color: #fff;
  overflow: hidden;
}

.drag-tail,
.drag-tail-two,
.drag-tail-three {
  position: absolute;
  content: "";
  width: 500px;
  height: 750px;
  left: 40%;
  /* top: 0px; */
  border-radius: 50px;
  background-image: url("./holographic.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 1;
  /* filter: blur(5px); */
  overflow: hidden;
}

.drag-tail-two {
  opacity: 0.5;
  /* filter: blur(10px); */
}
.drag-tail-three {
  opacity: 0.25;
  /* filter: blur(15px); */
}
